.Quick-Searches {
    margin:48px 151px 0 113px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
  }
  .Discover-restaurants-by-type-of-meal {
    margin: 1px 59px 0 113px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
  }
  
  .Quick-Discover{
    position: relative;
    top:-25px;
    left: -8px;
  }
  
  .block{
    width: 340px;
    height: 140px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
  }
  
  
  .container{
  position: relative;
  top: -10px;
  }
  
  .image-block {
    width: 150px;
    height: 140px;
    margin: 0 29px 0 0;
    }
  
  .image-block-menu1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-left: 50px;
    color: #192f60;
  }
  
  .image-block-containts {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-left: 49px;
    color: #8c96ab;
  }
/*Mobile view*/
  @media only screen and (max-width: 599px){
    .Quick-Searches {
        margin: 48px 151px 0 113px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
      }
      .Discover-restaurants-by-type-of-meal {
        margin: 1px 59px 0 113px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #8c96ab;
      }
      
      .Quick-Discover{
        position: relative;
        top: -183px;
        left: -99px;
        margin-bottom: -74px;
        
      }
    
      .container {
        position: relative;
        top: -95px;
        
      }
      
  }

/*mini tab*/
@media screen and (min-width: 600px ) and (max-width:791px){
    .Quick-Searches {
        margin: 48px 151px 0 113px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
      }
      .Discover-restaurants-by-type-of-meal {
        margin: 1px 59px 0 113px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #8c96ab;
      }
      
      .Quick-Discover{
        position: relative;
        top: -115px;
        left: -98px;
        margin-bottom: -74px;
        
      }
    
      .container {
        position: relative;
        top: -25px;
    }
      
}

 /*tabs*/
 @media screen and (min-width: 792px ) and (max-width:991px){
    .Quick-Searches {
        margin: 48px 151px 0 113px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
      }
      .Discover-restaurants-by-type-of-meal {
        margin: 1px 59px 0 113px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #8c96ab;
      }
      
      .Quick-Discover{
        position: relative;
        top: -118px;
        left: -84px;
        margin-bottom: -74px;
        
      }
    
      .container {
        position: relative;
        top: -25px;
      }
      
 }

 /*Desktop*/
  
 @media screen and (min-width: 992px ) and (max-width:1284px){
    .Quick-Searches {
        margin: 48px 151px 0 113px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
      }
      .Discover-restaurants-by-type-of-meal {
        margin: 1px 59px 0 113px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #8c96ab;
      }
      
      .Quick-Discover{
        position: relative;
        top: -114px;
        left: -95px;
        margin-bottom: -74px;
        
      }
    
      .container {
        position: relative;
        top: -25px;
      }
 }